body, html {
	height: 100%;
	font-size: 20px;
	background-color:#FAE5DE;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

.hero-image {
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("img/background.JPG");
	height: 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white;
}

.topnav {
	background-color: #F9F5F4;
	overflow: hidden;
	position:relative;
}

.topnav a{
	float: left;
	color: #538EF5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color:#B4C9EE;
	color:darkblue;
}

.topnav a.active {
	background-color: #BF87F3;
	color: white;
}

section.about {
	float: center;
	border-bottom: 1px solid #eeeeee;
	width: auto;
	height: auto;
	margin:20px;
}

article {
	clear: both;
	overflow: auto;
	width: auto;
}

hgroup {
	position: relative;
	margin: 10px;
	width: auto;
}

figure {
	float: left;
	padding: 5px;
	margin: 30px;
}

section.research {
	float: center;
	border-bottom: 1px solid #eeeeee;
	width: auto;
	height: auto;
	margin: 20px;
}

section.experience {
	float: center;
	border-bottom: 1px solid #eeeeee;
	width: auto;
	height: auto;
	margin:20px;
}
